.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    margin: auto;
}

.team-member {
    width: 120px;
    text-align: center;
    font-size: 0.8em;
}

.team-member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member p {
    margin: 0;
}

.author-container {
    text-align: center;
    margin-bottom: 1em;
}

.author-grid {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 columns per row */
    gap: 10px; /* Space between names */
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.author-grid a {
    text-decoration: none;
    color: #4e79a7; /* Matching the title color */
    font-weight: bold;
    font-size: 1em;
}

.equal-contribution {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 5px;
}

.affiliation {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
}